.footer {
  width: 100%;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;

  &__copyright {
    text-align: center;
    span {
      font-size: 1rem;
    }
  }
}
